@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 228 10% 93%;
  --foreground: 96 12% 3%;
  --muted: 218 8% 90%;
  --muted-foreground: 0 0% 16%;
  --popover: 228 10% 93%;
  --popover-foreground: 96 12% 3%;
  --card: 0 0% 100%;
  --card-foreground: 96 12% 3%;
  --border: 218 8% 90%;
  --input: 218 8% 90%;
  --primary: 32 96% 41%;
  --primary-foreground: 228 10% 93%;
  --primary-50: 32 96% 95%;
  --secondary: 218 8% 90%;
  --secondary-foreground: 96 12% 3%;
  --accent: 32 96% 41%;
  --accent-foreground: 228 10% 93%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 228 10% 93%;
  --ring: 96 12% 3%;
  --radius: 0.5rem;
}

.dark {
  --background: 0 0% 16%;
  --foreground: 228 10% 93%;
  --muted: 0 0% 16%;
  --muted-foreground: 218 8% 90%;
  --popover: 0 0% 16%;
  --popover-foreground: 228 10% 93%;
  --card: 0 0% 16%;
  --card-foreground: 228 10% 93%;
  --border: 96 12% 3%;
  --input: 96 12% 3%;
  --primary: 32 96% 41%;
  --primary-foreground: 228 10% 93%;
  --primary-50: 32 96% 15%;
  --secondary: 96 12% 3%;
  --secondary-foreground: 228 10% 93%;
  --accent: 32 96% 41%;
  --accent-foreground: 228 10% 93%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 228 10% 93%;
  --ring: 32 96% 41%;
}

@layer base {
  /* * {
    border-color: var(--border);
  } */

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
